.pending-payment-row {
    position: relative;
    transition: all 0.2s ease;
}

tr:not(.pending-payment-row) {
    cursor: default !important;
}

.pending-payment-row:hover {
    background-color: rgba(240, 249, 255, 0.8) !important;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
    transform: translateY(-2px);
}



tr.pending-payment-row td .badge-pending-payment {
    background-color: #17a2b8;
    color: white;
    cursor: pointer;
}

td:contains("Pending Payment") {
    position: relative;
    font-weight: bold;
    color: #17a2b8;
}

