.text-brown {
  color: #8B2E20 !important;
  font-weight: 500;
}

.custom-navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.custom-navbar .container-fluid {
  padding-left: 12px;
  padding-right: 12px;
}

.custom-navbar .nav-link {
  font-size: 18px;
  padding: 6px 10px;
}

.custom-navbar .navbar-logo {
  height: 80px;
  width: auto;
  border-radius: 50%;
}